version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: ${DOCKERHUB_USERNAME}/habit-tracker-backend:latest
    ports:
      - "5000:5000"
  
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: ${DOCKERHUB_USERNAME}/habit-tracker-frontend:latest
    ports:
      - "3000:3000"